.leftaside {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	align-items: center;
}
.logo {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-img {
	width: 50px;
	margin: 0 auto;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.leftaside-my-infos p {
	padding-left: 6px;
}

.leftaside-my-infos img {
	width: 50px;
	border-radius: 50%;
}
.leftaside-my-infos {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 50px;
}
.leftaside-my-infos:hover {
	background-color: rgba(236, 235, 235, 0.8);
}
.leftaside-menu {
	width: 80%;
	flex : 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start	;
}
.leftaside-menu ul {
	margin-top: 20px;
	list-style-type: none;
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.leftaside-menu li {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.leftaside-menu li p {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 10px;
	width: 100%;
	text-decoration: none;
	font-size: large;
}
.leftaside-menu li i {
	width: 40%;
	align-self: center;
	text-align: end;
}
.leftaside-menu ul :hover {
	background-color: rgba(236, 235, 235, 0.5);
	border-radius: 20px;
	cursor: pointer;
}
