.leftaside {
	position: fixed;
}
.logo {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-img {
	width: 50px;
	margin: 0 auto;
	cursor: pointer;
}
.leftaside,
.leftaside-notconnected,
.leftaside-connected {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.leftaside,
.leftaside-connected {
	justify-content: center;
}
.leftaside-notconnected {
	justify-content: flex-start;
	flex: 1;
}
.leftaside-connected,
.leftaside-notconnected {
	width: 100%;
}
.leftaside-connected {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.leftaside-menu {
	flex: 1;
	margin-top: 20px;
	width: 75%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.leftaside-connected li {
	width: 100%;
	border-bottom: solid 1px #dddddd ;
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.leftaside-connected li p {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-size: large;
}
.leftaside-connected li:hover{
	border-bottom: solid 1px #2db453 ;
}
.leftaside-connected ul :hover {
	background-color: rgba(236, 235, 235, 0.5);
	border-radius: 20px;
	cursor: pointer;
}
.leftaside-my-infos {
	display: flex;
	align-items: center;
	width: 80%;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 50px;
	border-bottom: solid 1px #2db453;
	justify-content: flex-start;
}
.left-aside-my-infos-bis{
	flex:1;
}
.leftaside-my-infos p {
	padding-left: 6px;
	flex : 1;
}
.leftaside-my-infos i {
}
.leftaside-my-infos img {
	width: 50px;
	border-radius: 50%;
}
.leftaside-my-infos:hover {
	background-color: rgba(236, 235, 235, 0.8);
}

.notconnected-btn-login,
.notconnected-btn-register {
	font-size: 1.2em;
	border-radius: 5px;
	width: 70%;
	height: 40px;
	cursor: pointer;
}

.notconnected-btn-register {
	color: rgb(45, 180, 83);
	background-color: white;
	border: solid 1px #2db453;
}
.leftaside-menu i {
	padding: 10px;
}


.notconnected-btn-login {
	color: white;
	background-color: rgb(45, 180, 83);
	border: none;
}
.leftaside-notconnected p {
	margin-bottom: 10px;
}
.leftaside hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.settings-popup{
	background-color: rgb(142, 231, 167);
	width: 80%;
	position: absolute;
	top : 490px;
	left:27px;
	border-radius: 5px;
	z-index: 1;
	cursor: pointer;
}
.settings-popup-logout,.settings-popup-changetheme{
	display: flex;
	padding: 10px;
	justify-content: center;
}
.settings-popup-changetheme i,.settings-popup-logout i{
	margin-right: 10px;
}

.settings-popup-changetheme:hover,.settings-popup-logout:hover{
	background-color: rgba(236, 235, 235, 0.5);
}
.left-aside-my-infos-bis--p {
	font-weight: bold;
	font-size: large;
}






