.flux {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.flux-messages {
	width: 100%;
	margin-top: 20px;
}
.flux-status {
	width: 100%;
	background-color: rgba(236, 235, 235, 0.5);
	padding: 10px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}
.flux-textarea {
	width: 100%;
}
.flux-textarea:focus {
	outline-color: rgb(45, 180, 83);
}
.flux-btn-publish {
	width: 140px;
	height: 35px;
	box-shadow: none;
	border: none;
	border-radius: 10px;
	text-align: center;
	align-self: flex-end;
	background-color: rgb(45, 180, 83);
	border: solid 0.5px #bbbbbb;
}
.flux-btn-publish:hover {
	background-color: rgb(45, 180, 83);
	border: solid 0.5px #bbbbbb;
}
.flux-my-infos {
	display: flex;
	align-items: center;
}
.flux-my-infos img {
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.flux-my-infos p {
	font-size: large;
}
.flux-header {
	width: 50%;
	margin-top: 20px;
}
.flux-header ul {
	list-style-type: none;
	width: 100%;
	align-items: center;
	display: flex;
	height: 100%;
}
.flux-header li {
	width: 100%;
}

.flux-header li p {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	width: 100%;
	text-decoration: none;
	font-size: large;
}

.flux-header li p:hover {
	background-color: rgba(236, 235, 235, 0.5);
	cursor: pointer;
}
.flux-header li p:focus {
	border-bottom: 2px solid rgb(45, 180, 83);
	background-color: blueviolet;
}
.containers {
	width: 85%;
	height: 100vh;
}
.home-container {
	background: white;
	width: 100%;
	height: 100%;
	display: none;
}
.profile-container {
	background: white;
	width: 100%;
	height: 100%;
	display: none;
}
.profile-container-active,
.home-container-active {
	height: 100vh;
}
.tags {
	display: flex;
	width: 50%;
	white-space: nowrap;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}
.tags-element {
	padding-right: 5px;
	border: solid 1px #bbbdbb;
	border-radius: 15px;
	margin: 5px;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;

	cursor: pointer;
}
.tags-element:hover {
	border: solid 1px rgb(45, 180, 83);
	background-color: rgba(156, 240, 180, 0.7);
}
