.listconnected {
	border-radius: 10px;
	background-color: rgba(236, 235, 235,0.5);
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.aside-title {
	text-align: center;
	width: 100%;
}
