.mainpage {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 125px;
}
.stats {
	width: 18%;
	border: none;
}
.flux {
	width: 58%;
	margin-left: 250px;
}
.aside {
	width: 18%;
}
