.mainpage-container {
	display: flex;
	flex-direction: column;
}

.mainpage {
	width: 100%;
	display: flex;
	justify-content: center;
	background: white;
}
.stats {
	width: 18%;
	border: none;
}
.flux {
	width: 57%;
	margin-left: 250px;
}
.aside {
	width: 18%;
}
