.register {
	height: 100vh;
	display: flex;
	align-items: center;
}
.register-page {
	width: 80%;
	margin: auto;
}
.register-content {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.register-icons {
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.register-logo {
	width: 40%;
	align-self: center;
}
a {
	text-decoration: none;
}

.register-logo-img {
	margin: 0 auto;
	width: 75%;
}

.register-main {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	width: 55%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color: rgb(45, 180, 83);
	margin-bottom: 20px;
}
.register-form {
	width: 90%;
	display: flex;
	flex-direction: column;
}

.register-fields,
.register-loginInfos {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.register-dateOfBirth,
.register-genderSelect,
.register-nameSurname {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.register-genders {
	display: flex;
	align-items: center;
	border: solid 1px #bbbdbb;
	width: 30%;
	height: 35px;
	font-size: 0.9em;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
	padding-left: 10px;
	text-align: center;
	justify-content: space-between;
	padding-right: 5px;
}

.register-p {
	color: rgb(45, 180, 83);
	font-size: 1em;
	margin-top: 10px;
	width: 100%;
}

.register-loginInfo {
	width: 100%;
	height: 30px;
	border: none;
}
.register-id {
	border: none;
	width: 49%;
}
.register-id,
.register-loginInfo {
	font-size: 1em;
	border: solid 1px #bbbdbb;
	color: #2db453;
	padding-left: 10px;
	border-radius: 5px;
	height: 40px;
	margin-top: 9px;
}

.register-id:focus,
.register-loginInfo:focus,
.register-select:focus {
	border: solid 1px #2db453;
	outline: none;
}

.register-btn-signin {
	color: white;
	background-color: rgb(45, 180, 83);
	font-size: 1.2em;
	border-radius: 5px;
	border: none;
	padding: 2px;
	width: 100%;
	cursor: pointer;
	height: 40px;
	margin-top: 15px;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
}
.register-select {
	padding: 5px;
	width: 30%;
	border: solid 1px #bbbdbb;
	border-radius: 5px;
}
