.search {
	border-radius: 10px;
	background-color: rgba(236, 235, 235, 0.5);
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
}
.search-fields{
	display: flex;
}
.search-fields input[type="text"] {
	width: 80%;
}
