.stats {
	border-radius: 10px;
	background-color: rgba(236, 235, 235, 0.5);
	padding: 10px;
	margin-bottom: 20px;
	height: 550px;
	align-self: flex-start;
	position: fixed;
	left: 40px;
	top: 20px;
}
.logo {
	display: flex;
	justify-content: center;
	padding: 5px;
}
.logo-img {
	width: 200px;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.stats-title,
.stats-my-infos {
	text-align: center;
	width: 100%;
}
.stats-my-infos img {
	width: 50px;
	border-radius: 50%;
}
